*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(stunning-high-resolution-nature-and-landscape-backgrounds-breathtaking-scenery-in-hd-free-photo.jpg);
    background-repeat: repeat-x;
    background-size: 200px;
    background-position-y:150px ;
    background-attachment: fixed;
    height: 200vh;
    text-align: center;
    font-family: Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#id{
    font-weight: 400;
    font-size: 20px;
}
