*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(A9aMdY2.jpg);
    background-repeat: repeat-x;
    background-size: 300px;
    background-position-y:150px ;
}
.id{
    text-align: center;
    font-family: Arial,sans-serif;
    padding: 50px;
}
#id1{
    margin:15px;
}
